$white:    #FFFFFF !default;
$gray-700: #101820 !default;

$primary: #1D355E !default;
$secondary: $gray-700 !default;
$brand: $primary;

$yiq-text-light:            $white !default;
$yiq-text-dark:             $gray-700 !default;

$body-bg:                   $white !default;

$headings-color:            $gray-700 !default;


// stylelint-disable value-keyword-case
$font-family-sans-serif:      Plex, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           Plex, serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;