$white:    #FFFFFF !default;
$gray-700: #101820 !default;

$primary: #4329BC !default;
$secondary: $gray-700 !default;
$body-bg-color: #F9F8F5 !default;
$brand: #EA6852 !default;

$yiq-text-light:            $white !default;
$yiq-text-dark:             $gray-700 !default;

$body-bg:                   $body-bg-color !default;

$headings-color:            $gray-700 !default;
