$white:    #FFFFFF !default;
$gray-700: #101820 !default;

$primary: #1D355E !default;
$secondary: $gray-700 !default;
$brand: $primary;

$yiq-text-light:            $white !default;
$yiq-text-dark:             $gray-700 !default;

$body-bg:                   $white !default;

$headings-color:            $gray-700 !default;
