@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
$primary: #AEC7F6;
$primary-light: #292A2C;
$light-drak: #374151;
$text-color: #F8F8F8;
$text-color-primary: #DDDFE2;
$border-color: #777792;
$light-overlay: #36383B;
$danger: #FFA07A;
$success: #54CF5E;
$btn-color: #112F6B;
$body-bg:#0D0D0E;


body {
    color: $text-color;
    background: $body-bg;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $text-color;
}
#password-requirement-left .arrow:before {
    border-left-color: $light-overlay !important;
}
#password-requirement-top .arrow:before {
    border-top-color: $light-overlay !important;
}
.tooltip .tooltip-inner {
    background: $light-overlay !important;
    color: $text-color !important;
}
.text-success {
    color: $success !important;
}
.react-loading-skeleton {
    --base-color: #36383B;
    --highlight-color: #000;
  }
  .pgn__pageBanner__accentA {
    background: $primary-light !important;
    color: $text-color !important;
    button {
        color: $text-color !important;
    }
}
a.course-card-title {
    color: $text-color;
}
#root {
    .text-body {
        color: $text-color !important;
    }
    .form-control {
        background: none !important;
        border-color: $border-color;
        color: $text-color;
        &.is-invalid {
            border-color: $danger !important;
        }
    }
    .pgn__form-text-default, .has-floating-label {
        color: $text-color;
    }
    .form-control:focus ~ .pgn__form-control-floating-label .pgn__form-control-floating-label-text, 
    .form-control.has-value ~ .pgn__form-control-floating-label .pgn__form-control-floating-label-text {
        background:  $primary-light;
        color: $text-color;
    }
    .alert-heading, .pgn__form-text-invalid, .alert-message-content, .alert-danger .alert-icon {
        color: $danger !important;
    }
    .layout {
        background: #0D0D0E;
        &:before {
            box-shadow: 400px 400px 143px 90px rgba(#211E82, 0.45);
        }
        &:after {
            box-shadow: 400px -400px 143px 90px rgba(#211E82, 0.45);
        }
        .content {
            background: $primary-light;
            .nav.nav-tabs {
                border-color: $border-color;
            }
            #main-content{
                .btn-brand {
                    color: #112F6B;
                }
                .alert-danger {
                    background: $light-overlay;
                }
            }
        }
        .bg-primary-400 {
            h1 {
                color: $text-color !important;
                .text-accent-a {
                    color: $text-color !important;
                }
            }
        }
    }
    .user-dropdown {
        button {
            background: $primary !important;
            color: $btn-color;
            @include media-breakpoint-down(md) {
                padding: 0 !important;
                background: none !important;
            }
            &:after {
                border-color:$btn-color !important;
            }
            .hamburger-menu {
                .line {
                    background: #767676;
                }
            } 
        }
        .dropdown-menu {
            box-shadow: 0px 0px 0px 1px rgba(#fff, 0.8), 0px 4px 6px -2px rgba(#fff, 0.05), 0px 10px 15px -3px rgba(#fff, 0.1);
            background: $light-overlay;
            @include media-breakpoint-down(md) {
                border-bottom: 2px solid $primary !important;
            }
            a {
                color: $text-color-primary;
                background: none !important;
                outline: none !important;
                box-shadow: none;
                &:hover {
                    background: $body-bg !important;
                    color: $text-color;                         ;
                }
            }
        }
    }
    .learner-variant-header {
        &:after {
            background: #0D0D0E;
            box-shadow: 0px 1px 2px 0px rgba(#fff, 0.8), 0px 1px 3px 0px rgba(#fff, 0.1);
        }
        .btn.btn-inverse-primary {
            color: $text-color;
            &:before {
                display: none !important;
            }
            &.course-link, &:hover {
                color: $text-color;
                border-bottom: 2px solid $text-color !important;
            }
        }
        .btn-icon.btn-icon-inverse-primary {
            color: $text-color;
            outline: none !important;
            background: none !important;
            box-shadow: none !important;
        }
    }
    .nav-small-menu a {
        color: $text-color;
        &:before {
            display: none;
        }
        &:active {
            background: transparent !important;
        }
    }
}
#dashboard-container {
    .container-mw-xl.container-fluid {
        .row {
            .course-list-column {
                #course-list-active-filters {
                    button {
                        font-size: 14px;
                    }
                    .pgn__chip {
                        background: $light-overlay;
                        color: $text-color;
                        * {
                            color: $text-color;
                            fill: $text-color;
                        }
                    }
                }
                .course-card {
                    .pgn__card {
                        background: $primary-light;
                        box-shadow: none !important;
                        border: 1px solid $border-color;
                        .flex-column {
                            .course-card-banners {
                                display: block !important;
                                .alert-info, .related-programs-banner {
                                    background: $light-overlay !important;
                                    .alert-icon {
                                        color: $text-color-primary;
                                    }
                                    .alert-message-content {
                                        color: $text-color-primary !important;
                                    }
                                    a {
                                        color: $text-color;
                                        text-decoration: underline;
                                    }
                                }
                                .alert-success {
                                    background: $light-overlay;
                                    .alert-message-content {
                                        color: $text-color-primary !important;
                                        a {
                                            color: $text-color;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                                .alert-content {
                                    .alert-icon {
                                        margin: 0 5px 0 0;
                                        width: 20px;
                                    }
                                }
                            }
                        }
                        .pgn__card-header {
                            .pgn__card-header-content {
                                h3 {
                                    color: $text-color;
                                }
                            }
                            .pgn__dropdown-toggle-iconbutton {
                                transform: rotate(90deg);
                                color: $text-color;
                            }
                            .dropdown-menu {
                                overflow: hidden;
                                box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.8), 0px 4px 6px -2px rgba(255, 255, 255, 0.05), 0px 10px 15px -3px rgba(255, 255, 255, 0.1);
                                background: $light-overlay;
                                a {
                                    color: $text-color !important;
                                    background: none !important;
                                    &:hover {
                                        color: $text-color !important;
                                        background: $body-bg !important;
                                    }
                                }
                            }
                        }
                        .pgn__card-section {
                            padding: 0 21px 18px;
                            .small {
                                font-size: 12px;
                                color: $text-color-primary;
                            }
                        }
                        .pgn__card-footer {
                            padding: 0 21px 20px;
                        }
                        .pgn__action-row {
                            button, a {
                                &.btn-outline-primary {
                                    border: 1px solid $text-color;
                                    color: $text-color;
                                }
                            }
                        }
                    }
                }
            }
            .course-filter-controls-container {
                .btn.btn-outline-primary {
                    border-color: #D1D5DB;
                    color: $text-color;
                    box-shadow: 0px 1px 2px 0px rgba(#fff, 0.05);
                    background: none !important;
                    svg {
                        fill: $text-color;
                    }
                }
                #course-filter-controls-card {
                    background: $light-overlay !important;
                    box-shadow: 0px 0px 0px 1px rgba(#fff, 0.8), 0px 4px 6px -2px rgba(#fff, 0.05), 0px 10px 15px -3px rgba(#fff, 0.10) !important;
                    .filter-form-col {
                        &.text-left {
                            border-left: 1px solid #ECF0F4;
                        }
                        .filter-form-heading {
                            color: $text-color;
                        }
                        .pgn__form-label {
                            color: $text-color;
                        }
                        .pgn__form-checkbox-input:focus::before, .pgn__form-radio-input:focus::before { display: none !important; }
                        input[type=radio], input[type=checkbox] {
                            &:checked {
                                border-color: $text-color;
                            }
                        }
                    }
                }
            }
            .sidebar-column {
                .widget-sidebar {
                    div {
                        background: none !important;
                    }
                    #looking-for-challenge-widget {
                        .pgn__card-body {
                            a {
                                color: $text-color;
                                svg {
                                    fill: $text-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#no-courses-content-view {
    background: $light-overlay;
}

// style sheet component
#sheet-root.sheet-container {
    .pgn__sheet-component {
        background: $light-overlay;
        .filter-form-row {
            .filter-form-heading {
                color: $text-color;
            }
            .pgn__form-label {
                color: $text-color;
            }
            input[type=radio], input[type=checkbox] {
                border: 1px solid #C4C7CF;
                &:checked {
                    border-color: #15376D;
                }
            }
        }
    }
    .pgn__modal-close-container {
        button {
            color: $text-color;
            background: none;
        }
    }
}